@charset "UTF-8";

/*@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css"); */


@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");


@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(/font/NanumSquareL.eot);
    src: url(/font/NanumSquareL.eot?#iefix) format('embedded-opentype'), url(/font/NanumSquareL.woff) format('woff'), url(/font/NanumSquareL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(/font/NanumSquareR.eot);
    src: url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'), url(/font/NanumSquareR.woff) format('woff'), url(/font/NanumSquareR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(/font/NanumSquareB.eot);
    src: url(/font/NanumSquareB.eot?#iefix) format('embedded-opentype'), url(/font/NanumSquareB.woff) format('woff'), url(/font/NanumSquareB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url(/font/NanumSquareEB.eot);
    src: url(/font/NanumSquareEB.eot?#iefix) format('embedded-opentype'), url(/font/NanumSquareEB.woff) format('woff'), url(/font/NanumSquareEB.ttf) format('truetype');
}

@font-face {
    font-family: 'GothamPro';
    font-weight: 100;
    src: url(/font/GothamPro-Light.eot);
    src: url(/font/GothamPro-Light.woff2) format("woff2"), url(/font/GothamPro-Light.woff) format("woff"), url(/font/GothamPro-Light.ttf) format("truetype"), url(/font/GothamPro-Light.svg#GothamPro-Light) format("svg"), url(/font/GothamPro-Light.eot?#iefix) format("embedded-opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-weight: 200;
    src: url(/font/GothamPro.eot);
    src: url(/font/GothamPro.woff2) format("woff2"), url(/font/GothamPro.woff) format("woff"), url(/font/GothamPro.ttf) format("truetype"), url(/font/GothamPro.svg#GothamPro) format("svg"), url(/font/GothamPro.eot?#iefix) format("embedded-opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-weight: 400;
    src: url(/font/GothamPro-Medium.eot);
    src: url(/font/GothamPro-Medium.woff2) format("woff2"), url(/font/GothamPro-Medium.woff) format("woff"), url(/font/GothamPro-Medium.ttf) format("truetype"), url(/font/GothamPro-Medium.svg#GothamPro-Medium) format("svg"), url(/font/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-weight: 600;
    src: url(/font/GothamPro-Bold.eot);
    src: url(/font/GothamPro-Bold.woff2) format("woff2"), url(/font/GothamPro-Bold.woff) format("woff"), url(/font/GothamPro-Bold.ttf) format("truetype"), url(/font/GothamPro-Bold.svg#GothamPro-Bold) format("svg"), url(/font/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-weight: 800;
    src: url(/font/GothamPro-Black.eot);
    src: url(/font/GothamPro-Black.woff2) format("woff2"), url(/font/GothamPro-Black.woff) format("woff"), url(/font/GothamPro-Black.ttf) format("truetype"), url(/font/GothamPro-Black.svg#GothamPro-Black) format("svg"), url(/font/GothamPro-Black.eot?#iefix) format("embedded-opentype");
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/font/montserrat-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/font/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/font/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */ url('/font/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/font/montserrat-v13-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/font/montserrat-v13-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/font/montserrat-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/montserrat-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/font/montserrat-v13-latin-700.woff') format('woff'), /* Modern Browsers */ url('/font/montserrat-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/font/montserrat-v13-latin-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* noto-serif-kr-300 - korean_latin */
@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 300;
    src: url('/font/noto-serif-kr-v5-korean_latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Noto Serif KR Light'), local('NotoSerifKR-Light'), url('/font/noto-serif-kr-v5-korean_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/noto-serif-kr-v5-korean_latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('/font/noto-serif-kr-v5-korean_latin-300.woff') format('woff'), /* Modern Browsers */ url('/font/noto-serif-kr-v5-korean_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('/font/noto-serif-kr-v5-korean_latin-300.svg#NotoSerifKR') format('svg');
    /* Legacy iOS */
}

/* noto-serif-kr-regular - korean_latin */
@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    src: url('/font/noto-serif-kr-v5-korean_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Noto Serif KR'), local('NotoSerifKR-Regular'), url('/font/noto-serif-kr-v5-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/noto-serif-kr-v5-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/font/noto-serif-kr-v5-korean_latin-regular.woff') format('woff'), /* Modern Browsers */ url('/font/noto-serif-kr-v5-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/font/noto-serif-kr-v5-korean_latin-regular.svg#NotoSerifKR') format('svg');
    /* Legacy iOS */
}

/* noto-serif-kr-700 - korean_latin */
@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 700;
    src: url('/font/noto-serif-kr-v5-korean_latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Noto Serif KR Bold'), local('NotoSerifKR-Bold'), url('/font/noto-serif-kr-v5-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/noto-serif-kr-v5-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/font/noto-serif-kr-v5-korean_latin-700.woff') format('woff'), /* Modern Browsers */ url('/font/noto-serif-kr-v5-korean_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/font/noto-serif-kr-v5-korean_latin-700.svg#NotoSerifKR') format('svg');
    /* Legacy iOS */
}



@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {font-family: 'Nanum Gothic', sans-serif;}



@font-face {
     font-family: 'S-CoreDream-1Thin';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-2ExtraLight';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-6Bold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-7ExtraBold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-8Heavy';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}