@charset "utf-8";


.jd-slider .next:before,
.jd-slider .prev:before{
    content:'';
    display: block;
    width:7px;
    height:11px;
    background-image: url(/images/cb_2024/main/icon_arrow01.jpg);
}
.jd-slider .prev:before{
    transform: rotate(180deg);
}
.jd-slider .next i,
.jd-slider .prev i{
    display: none;
}
.jd-slider .controller .auto i{
    font-size:0;
    width:12px;
    height:20px;
    background-size:cover;
    opacity: .8;
}
.jd-slider .fa-pause{
    background-image:url(/images/gjw_2024/common/icon_pause.png);
}
.jd-slider .fa-play{
    background-image:url(/images/gjw_2024/common/icon_play.png);
}


.california .todayInfo{
    margin:-40px auto 56px;
}
.todayInfo li{
    padding:0 5px;
}
.todayInfo .time p{
    font-size:12px;
    font-weight: normal;
    margin-top:8px;
    margin-right: 32px;
    text-align: right;
}
.main_video .list{
    width:calc(33.333% - 16px);
    position:relative;
}
.main_video .list a{
    color:#fff;
}
.main_video .list .thumb{
    border-top-left-radius: 16px;
    border-top-right-radius: 56px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 56px;
    line-height: 0;
    overflow: hidden;
}
.main_video .list video{
    width:100%;
    position: relative;
    z-index: -1;
    
}
.main_video .list .txt{
    text-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    position:absolute;
    top:40px;
    left:32px;
}
.main_video .txt b{
    font-size:32px;
}
.main_video .txt p{
    margin-top:8px;
    line-height: 1.4;
}

.btn_wrap{
    text-align: center;
}
.btn_basic{
    display: inline-block;
    font-weight:500;
    padding:20px 32px;
    border-radius: 50px;
}
.btn_basic.btn_small{
    font-size:14px;
    padding:12px 16px;
    vertical-align: middle;
}
.btn_white{
    background:#fff;
}
.btn_red{
    color:#fff;
    background:#f85549;
}

.main_sec{
    padding:140px 0;
}
.main_sec .btn_wrap{
    margin-top:80px;
}
.main_sec .btn_wrap .btn_basic{
    min-width:180px;
}
.main_sec > .inner{
    max-width:2160px;
    margin:0 auto;
    padding:0 120px;
}
.main_sec_con{
    margin-top:64px;
}
.main_sec_bg{
    padding:140px 0 100px;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
}
.main_sale_wrap .swiper-pagination-bullets.swiper-pagination-horizontal {
    position:initial; margin-top:10px; text-align:center;
}
.main_sale_wrap .swiper-pagination-bullet {
    width:13px;
    height:8px;
    margin:0 2px !important;
    background:#fff;
    opacity:.5;
    border-radius:5px;
}
.main_sale_wrap .swiper-pagination-bullet-active {
    background:#fff;
    width:26px; border-radius:5px;
    opacity:1
}
.main_sale_wrap{
    background-image: url('/images/gjw_2024/main/mainCon2_bg.jpg');
}
.main_att_wrap{
    background-image:url(/images/gjw_2024/main/main_att_bg1.jpg);
    transition:background-image .3s;
}
.main_att_wrap:before{
    content:url(/images/gjw_2024/main/main_att_bg3.jpg) url(/images/gjw_2024/main/main_att_bg2.jpg) url(/images/gjw_2024/main/main_att_bg1.jpg);
    width:0;
    height: 0;
    position:absolute;
    overflow: hidden;
    z-index: -1;
}
.main_att_wrap.bg2{
    background-image: url(/images/gjw_2024/main/main_att_bg2.jpg);
}
.main_att_wrap.bg3{
    background-image: url(/images/gjw_2024/main/main_att_bg3.jpg);
}
.california .main_sale_wrap{
    background-image: url('/images/gjw_2024/main/mainCon2_bg_cb.jpg');
}
.california .main_att_wrap{
    background-image: url('/images/cb_2024/main/mainCon3_bg.jpg');
}
.california .main_att_wrap.bg2{
    background-image: url(/images/gjw_2024/main/main_att_bg_cb2.jpg);
}
.california .main_att_wrap:before{
    content:url(/images/gjw_2024/main/main_att_bg_cb2.jpg) url(/images/cb_2024/main/mainCon3_bg.jpg);
}
.main_att_wrap .main_sec_con{
    margin-top:0;
}
.main_sale_wrap .mo{
    display:none;
}
.main_sec_tit{
    font-size:56px;
    font-weight:700;
}
.main_sale_wrap .main_sec_tit{
    color:#fff;
}
.list_style ul{
    display: flex;
    flex-wrap: wrap;
    margin:-16px -12px;
    overflow: hidden;
}
.list_style .list{
    width:calc(25% - 24px);
    margin:16px 12px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background:rgba(255,255,255,0.5);
    border:1px solid rgba(255,255,255,0.5);
    border-top-left-radius: 12px;
    border-top-right-radius: 56px;
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}
.list_style .txt{
    padding:32px 24px;
}
.list_style .sort span{
    font-size:14px;
    font-weight:500;
    padding:6px 12px;
    border-radius: 50px;
    color:#fff;
    background:#212529;
}
.list_style .sort span.on{
    background:#f85549;
}
.california .list_style .sort span.on{
    background:#4c6ef5;
}
.list_style .tit{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break:break-all;
    overflow: hidden;
    font-size:24px;
    margin-top:16px;
    line-height:1.2;
}
.list_style .price{
    font-size:24px;
    font-weight:500;
    color:#f85549;
}
.california .list_style .price{
    color:#4c6ef5;
}
.list_style .period{
    font-size:14px;
    margin-top:8px;
}
.list_style img{
    width:100%;
}

.main_att_wrap .inner{
    position:relative;
}
.main_att_wrap .main_sec_tit{
    width:350px;
    color:#fff;
    position:absolute;
    top:0;
    left:120px;
}

.main_att{
    display:flex;
}
.main_att .tab_wrap{
    width:414px;
}
.main_att .tab_wrap .inner{
    max-width:350px;
}
.main_att .tab{
    margin-top:188px;
}
.main_att .tab button{
    display:block;
    font-weight:500;
    width:100%;
    padding:0 24px;
    height:56px;
    color:#fff;
    text-align:left;
    border-radius: 50px;
    background:transparent;
    transition: background-color .2s;
}
.main_att .tab button.on{
    background:#f85549;
}
.california .main_att .tab button.on{
    background:#4c6ef5;
}
.main_att .tab button span{
    padding-left:36px;
    position:relative;
}
.main_att .tab button span:before{
    content:'';
    width:20px;
    height:20px;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    background-color: #f85549;
    z-index: 1;
    mask-size: 20px;
}
.main_att .tab button.thrill span:before{
    mask-image: url('/images/gjw_2024/main/att_icon01.png');
}
.main_att .tab button.child span:before{
    mask-image: url('/images/gjw_2024/main/att_icon02.png');
}
.main_att .tab button.rain span:before{
    mask-image: url('/images/gjw_2024/main/att_icon03.png');
}
.california .main_att .tab button.thrill span:before{
    mask-image:url('/images/gjw_2024/main/att_icon_cb01.png');
    
}
.california .main_att .tab button span:before{
    background-color: #99e9f2;
}
.main_att .tab button.on span:before{
    background-color: #fff;
}
.main_att .tab button span:after{
    display: none;
    content: '';
    width: 36px;
    height: 36px;
    background: rgba(255, 245, 245, .5);
    position: absolute;
    top: 50%;
    left: -8px;
    transform:translateY(-50%);
    border-radius: 50px;
}
.california .main_att .tab button span:after{
    background: rgba(237, 242, 255, .5);
}


.main_att .tab_att:first-child{
    display: block;
}
.main_att .tab_con{
    width:calc(100% - 414px);
}
.tab_att{
    display: none;
}
.tab_att ul{
    flex-wrap: wrap;
    margin:-24px 12px;
}
.tab_att .list{
    width:calc(33.333% - 24px);
    margin:24px 12px;
}
.tab_att .list a{
    color:#fff;
}
.tab_att .thumb{
    border-radius: 24px;
    overflow: hidden;
}
.tab_att .thumb img{
    width:100%;
}
.tab_att .tit{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break:break-all;
    overflow: hidden;
    font-size:28px;
    margin-top:24px;
    line-height:1.2;
}
.tab_att p{
    margin-top:8px;
    line-height: 1.3;
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.showcase-3{
    background:#f8f9fa;
}
.showcase-3 .feature{
    background:#fff;
    position:relative;
}
.showcase-3 .feature:before{
    content:'';
    width: 7px;
    height:11px;
    background-image: url(/images/cb_2024/main/icon_arrow01.jpg);
    background-repeat: no-repeat;
    position:absolute;
    top:50%;
    right:24px;
    transform:translateY(-50%);
}
.eng_att{
    margin-top:-44px;
}
.eng_att img{
    width:100%;
}
.eng_att .mo{
    display: none;
}

@media only screen and (max-width:1440px){
	.main_sec_tit{
        font-size:48px;
    }
    .main_att .tab_wrap{
        width:304px;
    }
    .main_att .tab_wrap .inner{
        max-width:260px;
    }
    .main_att .tab_con{
        width:calc(100% - 284px);
    }
    .tab_att .tit{
        font-size:24px;
    }
    .main_att_wrap .main_sec_tit{
        width:304px;
    }
    .main_att .tab{
        margin-top:146px;
    }






}
@media only screen and (max-width:1320px){





}
@media only screen and (max-width:1280px){
	.main_video .txt b{
        font-size:28px;
    }
    .main_video .txt p{
        font-size:16px;
    }




}
@media only screen and (max-width:1152px){
	.main_sec > .inner{
		padding:0 40px;
	}
	.list_style .list{
		width:calc(50% - 16px);
		margin:12px 8px;
	}
	.main_sale_wrap .pc{
		display:none;
	}
	.main_sale_wrap .mo{
		display:block;
	}
	.main_att .tab_wrap{
		width:180px;
	}
	.main_att{
		display:block;
		padding-left:176px;
	}
	.main_att_wrap .main_sec_tit{
		width: auto;
		position:initial;
	}
	.main_att .tab_wrap{
		margin-top:0;
		position:absolute;
		top:0;
		left:0;
	}
	.main_att .tab button{
		height:48px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.main_att .tab_con{
		width:auto
	}
	.tab_att ul{
		flex-wrap: nowrap;
	}
	.tab_att{
		margin-right: -40px;
		padding-right: 40px;
		overflow: hidden;
	}
	.tab_att .list{
		width:calc(46% - 12px);
		margin: 0;
	}
	.tab_att .tit{
		font-size:20px;
	}
	.tab_att p{
		font-size:14px;
	}

}

@media only screen and (max-width:1024px){


}
@media only screen and (max-width:960px){
    .main_video .list{width:64%;}



}
@media only screen and (max-width:768px){
    .todayInfo .time p{
        margin-right:4px;
    }
	.btn_basic{
        font-size:14px;
        padding: 16px 24px;
    }
    .main_sec .btn_wrap{
        margin-top:48px;
    }
    .main_sec .btn_wrap .btn_basic{
        min-width: 140px;
    }


    .main_sec{
        padding:56px 0;
    }
    .main_sec > .inner{
        padding:0 20px;
    }
    .main_sec_tit{
        font-size:28px;
    }
    .main_sec_con,
    .main_att_wrap .main_sec_con{
        margin-top:24px;
    }
    .main_sale_wrap{
        background-image: url(/images/gjw_2024/main/mainCon2_bg_m.jpg);
    }
    .california .main_sale_wrap{
        background-image: url(/images/gjw_2024/main/mainCon2_bg_cb_m.jpg);
    }
    .list_style ul{
        margin:-4px;
    }
    .list_style .list{
        width:calc(50% - 8px);
        margin:4px;
        border-top-left-radius: 12px;
        border-top-right-radius: 32px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 12px;
    }
    .list_style .txt{
        padding:16px;
        min-height:158px;
    }
    .list_style .tit{
        -webkit-line-clamp: 2;
        font-size:16px;
        margin-top:12px;
    }
    .list_style .sort span{
        font-size:11px;
        padding:6px 6px;
    }
    .list_style .price{
        font-size:16px;
    }
    .list_style .period{
        font-size:12px;
        margin-top:4px;
    }
    .main_att{
        padding-left:104px;
    }
    .main_att .tab_wrap{
        width:104px;
    }
    .main_att .tab{
        margin-top:60px;
    }
    .tab_att .tit{
        font-size:16px;
        margin-top:16px;
    }
    .tab_att .list{
        width:84%;
    }
    .main_att .tab button{
        font-size:12px;
        height:40px;
        padding:0 12px;
        background:rgba(0, 0, 0, .1);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
    .main_att .tab button span{
        padding-left:24px;
    }
    .main_att .tab button span:before{
        width:16px;
        height:16px;
        mask-size: 16px;
    }
    .main_att .tab button span:after{
        width:24px;
        height:24px;
        left:-4px;
    }
    .tab_att p{
        font-size:12px;
    }

    .eng_att{
        margin-top:32px;
    }
    .eng_att .pc{
        display:none;
    }
    .eng_att .mo{
        display:block;
    }
}

@media only screen and (max-width:500px){
    .main_video .list{width:92%;}
	.main_video .list .txt{
        top:24px;
        left:16px;
    }
    .main_video .txt b{
        font-size:20px;
    }
    .main_video .txt p{
        font-size:14px;
    }


}




