
.CoinTitle {background-color:#f4f4f4; background-image:url('/images/webzine/coin_1.png'); background-repeat:no-repeat; background-position:20px 50%; padding:60px 60px 60px 330px; color:#444444; font-size:1rem;}
.CoinTitle b {font-weight:300; font-size:2rem; color:#000000; display:block;}

.CoinList {}
.CoinList ul {width:100%;}
.CoinList ul li {border:1px dotted #c7c7c7; float:left; width:calc(50% - 25px); margin-top:40px; margin-left:50px; text-align:center; padding:50px 50px 40px 50px; font-size:1.56rem;}
.CoinList ul li:nth-child(2n+1) {margin-left:0px;}
.CoinList ul li hr {width:44px; height:4px; margin:20px auto 45px auto; border:none; background-color:#4dad28;}
.CoinList ul li:nth-child(2) hr {background-color:#084c8d;}
.CoinList ul li:nth-child(3) hr {background-color:#fe5900;}
.CoinList ul li:nth-child(4) hr {background-color:#801887;}
.CoinList ul li img {width:100%;}

.EntranceTitle {background-color:#358ae6; padding:10px 0 12px 0; color:#ffffff; font-size:2rem; text-align:center; font-weight:300;}
.EntranceTitle b {font-weight:400;}

.EntranceList {}
.EntranceList ul {width:100%;}
.EntranceList ul li {border:1px dotted #c7c7c7; float:left; width:calc(50% - 25px); margin-top:40px; margin-left:50px; padding:40px 30px; font-size:0.89rem; color:#6c6c6c; min-height:270px; letter-spacing:-1px; line-height:normal;}
.EntranceList ul li:nth-child(2n+1) {margin-left:0px;}
.EntranceList ul li div.photo {position:relative; width:185px; float:left;}
.EntranceList ul li div.photo img {border-radius:77px;}
.EntranceList ul li div.photo span {position:absolute; width:44px; height:44px; background-color:#358ae6; display:inline-block; text-align:center; color:#ffffff; font-family: 'NanumSquare'; font-weight: 800; font-size:1.06rem; line-height:42px; border-radius:22px;}
.EntranceList ul li div.text {margin-left:185px;}
.EntranceList ul li div.text b {font-size:1.33rem; font-weight:400; color:#000000;}
.EntranceList ul li div.text p {padding:13px 0;}
.EntranceList ul li div.text a {display:inline-block; padding:1px 20px 3px 20px; color:#004a97; border:1px solid #358ae6;}

div.WebzineNumber {text-align:center; padding-top:35px;}
div.WebzineNumber span {display:inline-block; background-color:#ed1c24; height:30px; line-height:26px; padding:0 20px; border-radius:15px; color:#ffffff; font-size:1rem;}

h5.WebzineTitle {width:100%; text-align:center; font-size:2.67rem; font-weight:300; color:#000000; padding:40px 0; word-break:keep-all;}
h5.WebzineTitle b {font-weight:400;}
h5.WebzineTitle p {color:#3d3d3d; font-size:1.11rem; font-weight:400; letter-spacing:2px;}

div.WebzineTitle {background-color:#ed1c24; padding:65px 0; color:#ffffff;}
div.WebzineTitle > div {border:5px solid #ffffff; width:317px; height:341px; margin:0 auto; padding-top:40px;}
div.WebzineTitle > div > div {width:343px; margin-left:-13px;}
div.WebzineTitle div span {background-color:#ed1c24;}
div.WebzineTitle div p {letter-spacing:-3px;}
div.WebzineTitle div p:first-child {font-size:1.28rem; font-weight: 300; line-height:130%;}
div.WebzineTitle div p:nth-child(2) {font-size:2.5rem; font-weight: 100; width:500px; line-height:130%;}
div.WebzineTitle div p:nth-child(3) {font-size:3.33rem; line-height:130%;}
div.WebzineTitle div p:nth-child(4) {font-size:3.33rem; color:#fff200; line-height:130%;}

.CourceList {padding:20px 0;}
.CourceList div.left {float:left; width:calc(50% - 10px);}
.CourceList div.right {float:left; width:calc(50% - 10px); margin-left:20px;}
.CourceList div img.title {width:100%;}
.CourceList ul {width:100%;}
.CourceList ul li {border:1px dotted #c7c7c7; float:left; width:100%; margin-top:20px; padding:40px 30px; font-size:0.89rem; color:#6c6c6c; min-height:230px; letter-spacing:-1px; line-height:normal;}
.CourceList ul li div.photo {position:relative; width:185px; float:left;}
.CourceList ul li div.photo img {border-radius:77px;}
.CourceList ul li div.photo span {position:absolute; width:44px; height:44px; display:inline-block; text-align:center; color:#ffffff; font-family: 'NanumSquare'; font-weight: 800; font-size:1.06rem; line-height:42px; border-radius:22px;}
.CourceList div.left  ul li div.photo span {background-color:#3bb375}
.CourceList div.right  ul li div.photo span {background-color:#f73b4b}
.CourceList ul li div.text {margin-left:185px;}
.CourceList ul li div.text b {font-size:1.33rem; font-weight:400; color:#000000;}
.CourceList ul li div.text p {padding:13px 0;}

.noticeUl {clear:both; padding:70px 0;}
.noticeUl .notice {float:left; display:inline-block; font-weight: 500; font-size:1.5rem; line-height:160px; color:#ed1c24; width:230px; height:100px; background-image:url("/images/css/sign.png"); background-repeat:no-repeat; background-position:-150px -1100px; }
.noticeUl > ul {margin-left:230px;}
.noticeUl > ul > li {line-height:32px; background-image:url("/images/css/bullet.png"); background-repeat:no-repeat; background-position:-410px -200px; padding-left:20px; color:#444444; font-size:1rem;}
.noticeUl > ul > li ul li {color:#777777; font-size:0.89rem;}

.pcImg {display:block; text-align:center;}
.pcImg img {width:100%; max-width:1120px;}
.moImg {display:none; text-align:center;}
.moImg img {width:100%;}

@media only screen and (max-width: 1000px){

.CoinTitle {background-position:50% 20px; padding:120px 20px 20px 20px; background-size:130px; }

.CoinList ul li {clear:both; width:100%; margin-top:20px; margin-left:0; padding:20px 20px 20px 20px;}
.CoinList ul li hr {margin:20px auto 25px auto;}

.EntranceList ul li {clear:both; width:100%; margin-top:20px; margin-left:0; padding:20px 10px; min-height:0;}
.EntranceList ul li:nth-child(2n+1) {margin-left:0px;}
.EntranceList ul li div.photo {width:105px;}
.EntranceList ul li div.photo img {width:90px; border-radius:45px;}
.EntranceList ul li div.photo span {width:30px; height:30px; line-height:30px; border-radius:15px;}
.EntranceList ul li div.text {margin-left:105px;}
.EntranceList ul li div.text a {padding:1px 10px 3px 10px;}

.CourceList div.left {clear:both; width:100%;}
.CourceList div.right {clear:both; width:100%; margin-left:0px;}
.CourceList ul li {padding:20px 10px; min-height:0;}
.CourceList ul li div.photo {width:105px;}
.CourceList ul li div.photo img {width:90px; border-radius:45px;}
.CourceList ul li div.photo span {width:30px; height:30px; line-height:30px; border-radius:15px;}
.CourceList ul li div.text {margin-left:105px;}

div.WebzineTitle > div {border:5px solid #ffffff; width:277px; height:301px; margin:0 auto; padding-top:40px;}
div.WebzineTitle > div > div {width:303px; margin-left:-13px;}
div.WebzineTitle div p:nth-child(2) {width:320px;}

.noticeUl {padding:40px 0;}
.noticeUl .notice {clear:both; line-height:50px; width:100%; height:60px; background-position:-130px -1100px; text-align:center; margin-top:20px; padding-left:40px;}
.noticeUl > ul {margin-left:0; clear:both;}
.noticeUl > ul > li {background-position:-405px -200px; letter-spacing:-1px;}

.pcImg {display:none;}
.moImg {display:block;}

}




